body {
  height: 90vw;
  background-color: #c3f3da;
  font-family: Arial, Helvetica, sans-serif;
  display: flex;
  flex-direction: column;
}

.search-block {
  float: left;
  width: 70vw;
  display: flex;
  align-self: auto;
}

.loader {
  color: gray;
  margin-left: 0.5vw;
  align-self: center;
  font-size: clamp(1rem, 20px, 2rem);
}

#search-box {
  width: clamp(min(200px, 9vw), 300px, max(600px, 30vw));
  font-size: clamp(1rem, 4vw, 1.5rem);
  height: clamp(1.5em, 4vw, 1.5em);
  border-radius: 8px;
  border: 2px solid #c3f3da;
  padding-left: 10px;
  align-self: center;
}

#search-result {
  flex-direction: column;
  list-style-type: none;
  display: flex;
}

.country-info {
  margin-top: 6px;
  display: flex;
  flex-direction: column;
}

#search-result > li {
  display: flex;
  flex-direction: column;
  margin: 3px;
}

.country-general {
  display: grid;
  grid-template-columns: minmax(min-content, 98px) auto;
  flex-direction: row;
  align-self: auto;
  justify-content: start;
  grid-gap: 5px;
}

.country-flag {
  display: grid;
  columns: 1;
  max-height: clamp(30px, 49px, 55px);
  align-self: center;
  justify-self: center;
}

.country-name {
  font-weight: bold;
  font-size: clamp(2.4rem, 3vw, 2.75rem);
  align-self: center;
  padding-left: 1vw;
}

.country-details {
  display: grid;

  grid-template-columns: max-content;
  grid-template-rows: repeat(3, max-content);
  justify-content: start;
}

.country-details > div {
  display: grid;
  grid-template-columns: minmax(140px, 10vw) auto;
  justify-content: start;
}
.country-details-category {
  display: grid;
  margin: 0.25vw;
  grid-column: 1;
  font-weight: bold;
  font-size: clamp(1.5rem, 1.5vw, 2rem);
  align-content: center;
}

.country-datails-value {
  display: grid;
  margin: 0.25vw;
  grid-column: 2;
  align-content: center;
  font-size: clamp(1.5rem, 1.5vw, 2rem);
}
