body {
  height: 90vw;
  background-color: #c3f3da;
  font-family: Arial, Helvetica, sans-serif;
  display: flex;
  flex-direction: column;
}

.search-block {
  float: left;
  width: 70vw;
  display: flex;
  align-self: auto;
}

.loader {
  color: gray;
  margin-left: 0.5vw;
  align-self: center;
  font-size: 16px;
}

#search-box {
  font-size: 2.5vh;
  height: 4vh;
  width: 40vw;
  border-radius: 8px;
  border: 2px solid #c3f3da;
  padding-left: 10px;
}

#search-result {
  flex-direction: column;
  list-style-type: none;
  display: flex;
}

.country-info {
  margin-top: 6px;
  display: flex;
  flex-direction: column;
}

#search-result > li {
  display: f;
  flex-direction: column;
}

.country-general {
  display: grid;
  grid-template-columns: 5vw auto;
  flex-direction: row;
  align-self: auto;
  justify-content: start;
}

.country-flag {
  display: grid;
  columns: 1;
  max-height: 2.5vw;
  align-self: center;
  justify-self: center;
}

.country-name {
  font-weight: bold;
  font-size: 3vw;
  align-self: center;
  padding-left: 0.5vw;
}

.country-details {
  display: grid;

  grid-template-columns: max-content;
  grid-template-rows: repeat(3, max-content);
  justify-content: start;
}

.country-details > div {
  display: grid;
  grid-template-columns: 10vw auto;
  justify-content: start;
}
.country-details-category {
  display: grid;
  margin: 0.25vw;
  grid-column: 1;
  font-weight: bold;
  font-size: 1.5vw;
}

.country-datails-value {
  display: grid;
  margin: 0.25vw;
  grid-column: 2;
  align-content: center;
  font-size: 1.5vw;
}
